/* Coolors Exported Palette - coolors.co/272d2d-03a678-a39ba8-b8c5d6-edf5fc */

$color1: #272d2d; //rgba(39, 45, 45, 100)
$color2: #03a678; //rgba(3, 166, 120, 100)
$color3: #a39ba8; //rgba(163, 155, 168, 100)
$color4: #b8c5d6; //rgba(184, 197, 214, 100)
$color5: #edf5fc; //rgba(237, 245, 252, 100)