/* Coolors Exported Palette - coolors.co/0b4f6c-03a678-01baef-fbfbff-757575 */

$color1: #0b4f6c; //rgba(11, 79, 108, 100)
$color2: #03a678; //rgba(3, 166, 120, 100)
$color3: #01baef; //rgba(1, 186, 239, 100)
$color4: #fbfbff; //rgba(251, 251, 255, 100)
$color5: #757575; //rgba(117, 117, 117, 100)