/* Coolors Exported Palette - coolors.co/ff5a5f-03a678-3c3c3c-f5f5f5-c1839f */

$color1: #ff5a5f; //rgba(255, 90, 95, 100)
$color2: #03a678; //rgba(3, 166, 120, 100)
$color3: #3c3c3c; //rgba(60, 60, 60, 100)
$color4: #f5f5f5; //rgba(245, 245, 245, 100)
$color5: #c1839f; //rgba(193, 131, 159, 100)