/* Coolors Exported Palette - coolors.co/253031-03a678-315659-bcab79-c6e0ff */

$color1: #253031; //rgba(37, 48, 49, 100)
$color2: #03a678; //rgba(3, 166, 120, 100)
$color3: #315659; //rgba(49, 86, 89, 100)
$color4: #bcab79; //rgba(188, 171, 121, 100)
$color5: #c6e0ff; //rgba(198, 224, 255, 100)