footer
  .container
    .col-xs-12.text-center
      h4
        span.fa.fa-code
        | &nbsp; with &nbsp;
        span.fa.fa-heart
        | &nbsp; by &nbsp;
        a(href="https://github.com/dkundel") Dominik Kundel