extends layouts/default

mixin entry(css)
  section(class!=css)
    .container
      .row
        .col-xs-10.col-xs-offset-1.col-sm-12.col-sm-offset-0.col-md-12.col-md-offset-0
          block

block content
  .container
    section#navigation.row
      .col-xs-12
        include ./layouts/navbar.jade
  .container-fluid
    header.row
      .col-xs-12
        hgroup
          h1 Dominik
          h2 Kundel
          h3 Front-End Web Developer | Software Engineer
  #mainContent
    +entry('entry main')
      include ./pages/about.jade
    +entry('entry alternate1')
      include ./pages/projects.jade
    +entry('entry alternate2')
      include ./pages/resume.jade
    +entry('entry main')
      include ./pages/contact.jade
      
  .container-fluid
    include ./layouts/footer.jade