mixin aboutEntry(image, icon, title)
  .about-entry
    .about-entry-header
      img.img-responsive(src=image)
    .about-entry-icon
      span(class=icon)
    h3= title
    block

h1#about About Me

:pfm
  #### Hi!
  
  My name is Dominik Kundel and I'm a sociable geek with a passion for front-end web development and web design.
  At the moment, I'm a Developer Evangelist for [Twilio](https://www.twilio.com) in Berlin, Germany.
  
  I'm originally from Bremen, Germany where I studied Computer Science at [Jacobs University Bremen](https://jacobs-university.de) with 
  people from at least 100 different nationalities. This gave me a unique perspective on the world and taught me how to interact with people from all over the world
  and work with cultural differences.
  
  I loved technology since I was a little kid. My dad got me in contact with technology really early and I was immediately hooked. However, 
  I only started proper coding in my first year of university. This is also the time when I got hooked with web development. Having done mainly
  design work before college, I was immediately fascinated how quickly I could create beautiful user interfaces for the programs I was developing.
  Today I love sharing the knowledge that I gathered and that I'm gathering every day, in various settings with people. I always want to learn new
  things and love sharing these moments with others at hackathons and other occasions. I'm fascinated by the start-up scene and the "Doers not talkers" approach.
  
  Below you can find more details about my three biggest passions, some projects that I did in the past as well as a link to my resume and a way to contact me.  
  
hr
  
.about-entries
  +aboutEntry('/images/coding.jpg', 'fa fa-3x fa-code', 'Programming')
    :pfm
      Programming gives me the opportunity to bring my thoughts and ideas into existence. My biggest passions are:
      - Hackathons
      - Web Development
      - Node.JS
      
  +aboutEntry('/images/design.jpg', 'fa fa-3x fa-pencil', 'Design')
    :pfm
      I love drawing and designing things. Designing is a nice change from a focus on efficiency and algorithms
      to beauty and creativity. Throughout time I designed various things including:
      - websites
      - stickers
      - flyers
      - t-shirts
      - roll-ups
      - logos
      - etc. 
      
  +aboutEntry('/images/coding-workshops.jpg', 'fa fa-3x fa-comments', 'Sharing Knowledge')
    :pfm
      Over time I learned a lot from my peers. Today I love giving this back and get other people fascinated by programming.
      I'm trying this by organizing and mentoring at hackathons, giving tech presentations and 
      helping at introduction to programming workshops such as:
      - [CoderDojo](https://coderdojo.com)
      - [Hacker School](http://www.hacker-school.de/)
      - [Women's International Leadership Conference](https://www.facebook.com/jacobsWILconference)