nav
  .left
    ul.nav.nav-tabs.pull-left
      li.active
        a#logo.strong(href="#") DK
  .right
    ul.nav.nav-tabs.pull-right
      li.active
        a(href="#home") Home
      li
        a(href="#about") About
      li
        a(href="#projects") Projects
      li
        a(href="#resume") Resume
      li
        a(href="#contact") Contact